#baseAbas .tab {
    -fx-background-color: #0A0A0A; /* Cor de fundo das abas não selecionadas */
    -fx-background-insets: 0 0 -1 0, 0, 1, 2;
    -fx-background-radius: 5 5 0 0, 5, 4, 3;
    -fx-padding: 10 30 10 30; /* Espaçamento interno da aba */
    -fx-text-fill: #00FF00; /* Cor do texto das abas */
    -fx-closable: false; /* Desativa o botão de fechar na aba */
}

#baseAbas .tab:selected {
    -fx-background-color: #464646; /* Cor de fundo da aba selecionada */
    -fx-text-fill: #00FF00;
}

#baseAbas .tab:hover {
    -fx-background-color: #464646; /* Cor de fundo ao passar o mouse sobre a aba */
    -fx-text-fill: #00FF00;
}

#baseAbas .tab-label {
    -fx-text-fill: #00FF00; /* Cor do texto das abas */
}

#baseAbas .tab:selected .tab-label {
    -fx-text-fill: #00FF00; /* Cor do texto da aba selecionada */
}

#baseAbas .tab .tab-close-button {
    -fx-background-color: transparent; /* Remove a cor de fundo do botão de fechar */
    -fx-shape: null; /* Remove o ícone de fechar */
    -fx-min-width: 0; /* Define a largura mínima para zero */
}

#baseAbas .tab .tab-close-button:hover {
    -fx-background-color: transparent; /* Remove a cor de fundo ao passar o mouse */
}

#rodape {
    -fx-border-radius: 100px;
    -fx-border-insets: 5px;
    -fx-padding: 10px;
    -fx-spacing: 15px;
    -fx-background-insets: 5px;
    -fx-margin: 20%;
}

#tfComando {
    -fx-pref-width: 512px;
}
