#acProcessos {
    -fx-pref-width: 1024px;
    -fx-padding: 50px;
    -fx-background-color: #292929;
}

/* Aba dos Processos */
.titled-pane { /*Aba do processo */   
	-fx-text-fill: #00FF00;
	-fx-padding: 0 0 1em 0;
}
.titled-pane:focused { /*Aba do processo selecionada */
	-fx-text-fill: #1a1a1a;
}

.titled-pane > .title { /*Box do processo */
	-fx-font-size: 12pt !important;
	-fx-background-color: #1a1a1a;
	-fx-background-radius: 5 5 5 5, 4 4 4 4, 3 3 3 3;
	-fx-padding: 0.16em 0.83em 0.25em 0.83em;
}

.titled-pane:focused > .title { /*Box do processo selecionada */
	-fx-background-color: #007a00;
	-fx-background-radius: 5 5 0 0, 4 4 0 0, 3 3 0 0;
}

.titled-pane > .title > .arrow-button { /*Box da arrow button da aba de processos*/
	-fx-background-color: null;
	-fx-background-insets: 0;
	-fx-background-radius: 0;
	-fx-padding: .5em;
}

.titled-pane > .title > .arrow-button .arrow { /*Arrow button da aba de processos*/
	-fx-background-color: #00FF00;
	-fx-background-insets: 1 0 -1 0, 0;
	-fx-padding: 4 4.75 4 4.75;
	-fx-shape: "M 0 0 h 7 l -3.5 4 z";
}

.titled-pane:focused > .title > .arrow-button .arrow {  /*Arrow button da aba de processos quando selecionada*/
	-fx-background-color: #1a1a1a;
}

.titled-pane:collapsed > .title > .arrow-button .arrow {  /*Arrow button da aba de processos quando clicada*/
	-fx-rotate: -90;
}

.titled-pane > *.content { /*Conteudo das abas de processos*/
	-fx-background-color: #0A0A0A;
	-fx-background-radius: 0 0 5 5, 0 0 4 4, 0 0 3 3; 
	-fx-border-color: #007a00;
	-fx-border-width: 3;
	-fx-border-radius: 0 0 5 5, 0 0 4 4, 0 0 3 3; 
	-fx-background-insets: 0, 0 1 1 1;
	-fx-padding: 0.25em;
 }

/*Label */
.label { /*Personalização do Label */
	-fx-text-fill: white !important;
	-fx-padding: 0 0 1.5em 0 !important;
	-fx-font-size: 12pt !important;
	-fx-font-weight: bold !important;
}

/*Tabela de Páginas */
.table-view { /*Personalização da tabela de Páginas */
    -fx-background-color: #404040 !important;
    -fx-border-width: 1;
}

.table-view .column-header-background,
.table-view .column-header-background .filler,
.table-view .corner { /*Personalização da coluna da tabela de páginas */
	-fx-background-color: transparent;
	-fx-border-width: 1;
}

.table-view .column-header { /*Personalização da header da coluna da tabela de páginas */
	-fx-background-color: #404040 !important;
	-fx-border-width: 1;
	-fx-border-color: #007a00 !important;
}

.table-view .column-header .label{ /*Personalização do label da header da coluna da tabela de páginas */
	-fx-text-fill: #00FF00 !important;
	-fx-font-weight: bold; 
	-fx-padding: 0 !important;
	-fx-font-size: 10pt !important;
}

.table-cell { /*Personalização da celua  da tabela de páginas */
    -fx-text-fill: white !important;
    -fx-border-color: #007a00 !important;
    -fx-border-width: 1;
}

.table-column { /*Personalização da coluna da tabela de páginas */
    -fx-text-fill: white !important;
    -fx-background-color: #404040 !important;
    -fx-border-color:  #007a00 !important;
    -fx-border-width: 1;
}
