#estrutura {
	-fx-color: #464646;
    -fx-background-color: #292929;
}

#baseAbas {
    -fx-background-color: transparent;
}

#baseAbas .tab-header-background {
    -fx-background-color: transparent;
}

#baseAbas .tab-pane {
    -fx-border-color: transparent;
}

#baseAbas .tab {
	-fx-color: #464646;
    -fx-background-color: #0A0A0A;
    -fx-background-insets: 0 0 -1 0, 0, 1, 2;
    -fx-background-radius: 5 5 0 0, 5, 4, 3;
    -fx-padding: 10 30 10 30;
    -fx-text-fill: #00FF00;
    -fx-closable: false;

}

#baseAbas .tab:selected {
    -fx-background-color: #464646;
    -fx-text-fill: #00FF00;
}

#baseAbas .tab:hover {
    -fx-background-color: #464646;
    -fx-text-fill: #00FF00;
}

#baseAbas .tab-label {
    -fx-text-fill: #00FF00;
}

#baseAbas .tab:selected .tab-label {
    -fx-text-fill: #00FF00;
}

#baseAbas .tab .tab-close-button {
    -fx-background-color: transparent;
    -fx-shape: null;
    -fx-min-width: 0;
}

#baseAbas .tab .tab-close-button:hover {
    -fx-background-color: transparent;
}

#rodape {
    -fx-background-color: #373737;
    -fx-border-radius: 100px;
    -fx-border-insets: 5px;
    -fx-padding: 10px;
    -fx-spacing: 15px;
    -fx-background-insets: 5px;
    -fx-margin: 20%;
    -fx-alignment: center !important;
}

#tfComando {
    -fx-pref-width: 256px;
    -fx-background-color: #7C7C7C;
    -fx-text-fill: #00FF00;
}

#bCarregar {
    -fx-background-color: #0A0A0A;
    -fx-padding: 5 15 5 15;
    -fx-text-fill: #00FF00;
}

#bAndar {
    -fx-background-color: #0A0A0A;
    -fx-padding: 5 15 5 15;
    -fx-text-fill: #00FF00;
}

#bZerar {
    -fx-background-color: #0A0A0A;
    -fx-padding: 5 15 5 15;
    -fx-text-fill: #00FF00;
}
