#base {
    -fx-pref-width: 600px;
    -fx-padding: 10px;
    -fx-spacing: 1px;
    -fx-color: #464646;
    -fx-background-color: #292929;
    -fx-font-size: 14pt !important;
    -fx-text-fill: #00FF00;
}

#base VBox {
    -fx-alignment: TOP_CENTER;
}

#lista {
    -fx-pref-width: 300px;
    -fx-spacing: 10px;
    -fx-text-fill: #00FF00;
    -fx-background-color: #292929;
}

#lista HBox {
    -fx-spacing: 10px;
}

#lista Label, #lvProcessos {
    -fx-text-fill: #00FF00;
    -fx-background-color: transparent;
}

#tamanhoRecurso, #tamanhoDisponivel {
    -fx-text-fill: #00FF00;
    -fx-font-size: 12pt !important;
}

#quadros {
    -fx-pref-width: 1080px !important;
    -fx-pref-height: 1080px !important;
    -fx-padding: 20px !important;
    -fx-hgap: 15px !important;
    -fx-vgap: 15px !important;
    -fx-alignment: center !important;
    -fx-background-color: #1a1a1a;
    -fx-border-color: #1a1a1a !important;
    -fx-border-width: 3px !important;
    -fx-border-radius: 15px !important;
    -fx-background-radius: 15px !important;
    -fx-font-size: 14pt !important;
    -fx-text-fill: #00FF00 !important;
    -fx-effect: dropshadow(gaussian, rgba(0, 0, 0, 0.7), 10, 0, 0, 0);
    -fx-radius: 5px;
}

#rolagem {
    -fx-background: #292929;
    -fx-background-radius: 15px !important;
    -fx-border-color: #292929 !important;
    -fx-border-radius: 15px !important;
}

#rolagem .scroll-bar {
    -fx-color: #464646;
    -fx-background-color: #333333;
    -fx-background-radius: 55px;
}

#rolagem .scroll-bar:hover {
    -fx-color: #464646;
}

.qds {
    -fx-background-color: #555555;
    -fx-padding: 15px;
    -fx-text-fill: #00FF00;
    -fx-border-color: #00FF00;
    -fx-border-width: 2px;
    -fx-border-radius: 10px;
    -fx-background-radius: 10px;
}
